h1{
    color: rgb(100, 160, 160);
    text-align: center;
    font-size: 50px;
}
H2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-style: italic;
}
h3{
    font-size: 30px;
    
    text-align: center;
}

p{
    font-size: 30px;
    margin-left: 55% ;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

button{
    background-color: rgb(120, 172, 172);
    border-style: none;
    width: 20%;
    height: 70px;
    border-radius: 10px;
    margin-left: 10%;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

input{
    border-radius: 10px;
    width: 400px;
    height: 50px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left:5% ;
}
img{
    border-radius: 10px;
}
